<div class="container">
  <div class="page-header">
    <h1>Create New Dish Recipe</h1>
    <p class="padding-tb">You don't need to be an expert in the kitchen to cook delightful meals for your loved ones!</p>
  </div>

  <%= render 'form', family_recipe: @family_recipe %>

  <div class="padding-tb">
    <%= link_to 'Back', my_recipe_family_recipes_path, class: 'btn btn-default' %>
  </div>

</div>
